:root {
  --white: #fff;
  --primary-color: #ff7f50;
  --secondary-color: #ff4500;  
  --background-top: #141414;
  --background-bottom: #242424;
  --description-color: #242424;

}

/* Dark mode için yeni değişkenler */
.dark {
  --primary-color: #ff9f70;
  --secondary-color: #ff6520;
  --text-color: #f0f0f0;
  --background-top: #0a0a0a;
  --background-bottom: #1a1a1a;
  --description-color: #c0c0c0;

}

.landing-page body {
  margin: 0;
  padding: 0;
  color: var(--white);
  background: linear-gradient(0deg, hsla(0, 0%, 6%, 1) 0%, hsla(0, 5%, 79%, 1) 0%, hsla(0, 0%, 96%, 1) 58%, hsla(0, 0%, 100%, 1) 100%);  
  min-height: 100vh;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
  animation: fadeIn 0.5s ease;
}

.theme-toggle {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  margin-right: 10px;
  transition: color 0.3s ease;
  color: var(--white);
  display: flex;
  align-items: center;
}

.theme-toggle:hover {
  color: var(--primary-color);
}

.navbar {
  position: fixed; /* navbar'ı sayfanın üst kısmında sabitler */
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background: rgba(8, 8, 8, 0.9);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.dark .navbar {
  background: rgba(20, 20, 20, 0.9);
}

.dark .content {
  background: rgba(20, 20, 20, 0.9);
}

.logo {
  width: 40px;
  height: 40px;
}

.header-links {
  display: flex;
  gap: 10px;
  align-items: center;
}

.link-button {
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  border: none;
  color: var(--white);
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.link-button:hover {
  opacity: 0.9;
}

/* Landing Page içerik alanı */
.landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 60px 20px 20px;
  box-sizing: border-box;
}

.content {
  margin-top:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  max-height: calc(100vh - 80px); /* Navbar yüksekliğini çıkararak ayarlayın */
  background-color: var(--card-bg-color);
  border-radius: 30px;
  padding: 40px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 0.9em;
  overflow-y: auto; /* İçerik sığmazsa kaydırma çubuğu ekler */
}


.image-container {
  width: 100%;
  max-width: 200px;
  margin-bottom: 20px;
}

.main-image {
  width: 60%;
  height: auto;
  transform: scaleX(-1);
}

.text-content {
  text-align: center;
  padding: 0 20px;
  
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: -0.1rem;
}

.description {
  font-size: 16px;
  color: var(--description-color);
  line-height: 1.6;
  margin: 20px 0px;
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
    align-items: flex-start;
    padding: 60px 40px;
  }

  .image-container {
    margin-right: 40px;
    margin-bottom: 0;
  }

  .main-image {
    width: 100%;
    height: auto;
    transform: scaleX(-1);
  }

  .text-content {
    text-align: left;
    flex-grow: 1;
  }

  .title {
    font-size: 46px;
  }

  .description {
    font-size: 18px;
    text-align: left;
  }
}
